@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --white: #eee;
    --main-bg-color: #4e4e4e;
    --text-color: #fff;
}

html{
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

#root{
    width: 960px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.body-paragraph{
    margin: 1rem 0 1rem 0;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form *{
    margin: 0.2rem;
}

.dropdown-menu{
    height: 0;
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-radius: 5px;
    padding: 0.4rem;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    display: flex;
    visibility: hidden;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}


.dropdown-item{
    padding: 0.5rem 1rem;
}

.dropdown-item:hover{
    filter: brightness();
}

.footer{
    border-top: solid var(--white) 1px;
    padding: 1rem;
}

.form-input{
    padding: 0.1rem;
    font-size: 1rem;
    width: 40%;
}
.form-select{
    width: 15%;
}

.form-textarea{
    font-size: 0.9rem;
    padding: 0.2rem;
}

.guitar-svg{
    width: 20%;
}

.index-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
}
.index-image{
    width: 50%;
    margin: 1rem;
}
.index-title{
    margin: 0 0 2rem 0;
}
.image-separator{
    height: 5rem;
    object-fit: contain;
}
.navbar-list{
    display: flex;
    list-style: none;
    padding: 1.7rem;
    align-items: center;
    justify-content: space-around;
    border-bottom: var(--white) 1px solid;
}

.navbar-item:hover .dropdown-menu{
    opacity: 1;
    height: auto;
    visibility: visible;
}

.navbar-item:hover{
    filter: brightness(75%);
}

.navbar-item{
    cursor: pointer;
}

.submit-button{
    width: 15%;
    align-self: center;
    border-radius: 1px;
    border: none;
    padding: 0.2rem 0rem;
    transition: all ease 0.2s;
    font-size: large;
    margin: 0 0 1rem 0;
}

.stratocaster{
    width: 25%;
}

.telecaster{
    width: 20%;
}
.submit-button:hover{
    filter: brightness(75%);
}